.main {
    width: 100%;
    padding-top: 50px;
}

.t_con {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.t_con > div:first-child {
    padding: 0 60px;
}

.infor {
    display: block;
    
    padding: 1px;
    border-top: 8px solid #04C2C9;
}

.infor h3 {
    
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1.5px;
}

.infor p {
    font-size: 18px;
}

.information {
    display: block;
    width: 600px;
    padding: 0 60px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.information h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

.information p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -1px;
}

.information p span{
    font-weight: bold;
}

.m_con {
    width: 100%;
    margin-bottom: 80px;
    background-color: #eee;
    position: relative;
    height: 480px;
}

.youtube {
    width: 730px;
    margin: 0 auto;
}
