.wrap {
    width: 100%;
}

.skills {
    width: 100%;
    
}

.s_box {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
}

.s_box h3{
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 25px;
}


.s_icon {
    width: 100%;
    justify-content: center;
    display:flex;
}

.s_icon img{
    padding: 80px;
    cursor: pointer;
}


.profile {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 120px;
}

.profile img {
    width: 300px;
    height: 289px;
}

.photo_box {
    padding: 50px 50px;
    position: relative;
    width: 450px;
    height: 400px;
}

.space {
  position: absolute;
  width: 293px;
  height: 298px;
  background-color: #ddd;
  top: 70px;
  left: 90px;
}

.photo_box img {
  position: absolute;
  z-index: 1;
}

.letter_box {
    padding: 0 50px;
    display: block;
}

.letter_box h2{
    font-size: 50px;
    padding-bottom: 10px;
}

.letter_box .age {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 8px;
}

.letter_box .infor {
    
    font-size: 18px;
    font-weight: bold;
}

.letter_box .infor span{
    font-weight: 800;
}

.letter_box > p {
  line-height: 30px;
}

/* 프로그레스 */

.s_icon li {
    position: relative;
    /* padding: 80px; */
}

.s_icon li ul {
    position: absolute;
    justify-content: center;
    bottom: 20px;
    left: 20px;
}

.s_p_title {
    text-align: center;
    padding-bottom: 2px;
}

.progressbar_01{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    overflow:hidden;
    background: #ccc;
    position:relative;
  }
  .progressbar_01::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 20px;
    width:0;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93bff9, #0d0249);
    background: linear-gradient(to right, #93c8f9, #0c0268);
    animation: progress 1.5s ease forwards;
    animation-name: progressbar_01;
  }

  @keyframes progressbar_01 {
    0%{width: 0px}
    100%{width: 80%;}
  }

  .progressbar_02{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    overflow:hidden;
    background: #ccc;
    position:relative;
  }
  .progressbar_02::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 20px;
    width:0;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #f9d593, #b95c04);
    background: linear-gradient(to right, #f9d593, #973f03);
    animation: progress 1.5s ease forwards;
    animation-name: progressbar_02;
  }
  @keyframes progressbar_02{
    0%{width: 0px}
    100%{width: 85%;}
  }

  .progressbar_03{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    overflow:hidden;
    background: #ccc;
    position:relative;
  }
  .progressbar_03::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 20px;
    width:0;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93a2f9, #0d0249);
    background: linear-gradient(to right, #9593f9, #0c0268);
    animation: progress 1.5s ease forwards;
    animation-name: progressbar_03;
  }
  @keyframes progressbar_03{
    0%{width: 0px}
    100%{width: 75%;}
  }

  .progressbar_04{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    overflow:hidden;
    background: #ccc;
    position:relative;
  }
  .progressbar_04::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 20px;
    width:0;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93a2f9, #0d0249);
    background: linear-gradient(to right, #9593f9, #0c0268);
    animation: progress 1.5s ease forwards;
    animation-name: progressbar_04;
  }
  @keyframes progressbar_04{
    0%{width: 0px}
    100%{width: 85%;}
  }

  .progressbar_05{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    overflow:hidden;
    background: #ccc;
    position:relative;
  }
  .progressbar_05::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 20px;
    width:0;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #a993f9, #410fb8);
    background: linear-gradient(to right, #9395f9, #1f1d97);
    animation: progress 1.5s ease forwards;
    animation-name: progressbar_05;
  }
  @keyframes progressbar_05{
    0%{width: 0px}
    100%{width: 75%;}
  }

  .progressbar_06{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    overflow:hidden;
    background: #ccc;
    position:relative;
  }
  .progressbar_06::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 20px;
    width:0;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #f9d593, #b95c04);
    background: linear-gradient(to right, #f9d593, #973f03);
    animation: progress 1.5s ease forwards;
    animation-name: progressbar_06;
  }
  @keyframes progressbar_06{
    0%{width: 0px}
    100%{width: 80%;}
  }

  .progressbar_07{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    overflow:hidden;
    background: #ccc;
    position:relative;
  }
  .progressbar_07::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 20px;
    width:0;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #86f5fd, #1d4497);
    background: linear-gradient(to right, #93c8f9, #1d6097);
    animation: progress 1.5s ease forwards;
    animation-name: progressbar_07;
  }
  @keyframes progressbar_07{
    0%{width: 0px}
    100%{width: 75%;}
  }

  .progressbar_08{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    overflow:hidden;
    background: #ccc;
    position:relative;
  }
  .progressbar_08::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 20px;
    width:0;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #789ff3, #130066);
    background: linear-gradient(to right, #93F9B9, #4106cc);
    animation: progress 1.5s ease forwards;
    animation-name: progressbar_08;
  }
  @keyframes progressbar_08{
    0%{width: 0px}
    100%{width: 85%;}
  }