.progressbar_05{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    overflow:hidden;
    background: #ccc;
    position:relative;
  }
  .progressbar_05::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    height: 20px;
    width:0;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #a993f9, #410fb8);
    background: linear-gradient(to right, #9395f9, #1f1d97);
    animation: progress 1.5s ease forwards;
    animation-name: progressbar_05;
  }
  @keyframes progressbar_05{
    0%{width: 0px}
    100%{width: 65%;}
  }